<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Horse Racing</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<link rel="stylesheet" href="/assets/horseracing/game.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/assets/horseracing/game.js"></script>

</head>   


   <body>
    <div id="horse1" class="horse standRight">
        <div class="rider">
            <div class="head">
            </div>
            <div class="body">
            </div>
        </div>
    </div>


    <div id="horse2" class="horse standRight">
        <div class="rider">
            <div class="head">
            </div>
            <div class="body">
            </div>
        </div>
    </div>


    <div id="horse3" class="horse standRight">
        <div class="rider">
            <div class="head">
            </div>
            <div class="body">
            </div>
        </div>
    </div>


    <div id="horse4" class="horse standRight">
        <div class="rider">
            <div class="head">
            </div>
            <div class="body">
            </div>
        </div>
    </div>


    <div class="track">
        <div id="startline">
        </div>

        <div class="inner">
		  <button id="back">Trở về</button><!-- Make it a button -->
		<button id="start">Bắt đầu</button><!-- Make it a button -->
          

            <div id="bet">
                <p>Bạn hiện có <span id="funds">100</span></p>
                <label>Tiền cược </label>
                <input type="number" id="amount" value="0" step="any"><!-- Add type and default value -->
                <label>Chọn ngựa:</label>
                <select id="bethorse">
                    <option value="1">Trắng</option>
                    <option value="2">Xanh Dương</option>
                    <option value="3">Xanh lá</option>
                    <option value="4">Nâu</option>
                </select>
               
            </div>
            <img src="/assets/horseracing/images/tree.png" class="tree" />
            <br>
            <table id="results">
                <thead>
                    <tr>
                        <th>Results</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1st</td>
                        <td class="result horse1"></td>
                    </tr>
                    <tr>
                        <td>2nd</td>
                        <td class="result horse2"></td>
                    </tr>
                    <tr>
                        <td>3rd</td>
                        <td class="result horse3"></td>
                    </tr>
                    <tr>
                        <td>4th</td>
                        <td class="result horse4"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>


<script>

document.addEventListener("DOMContentLoaded", function() {
  // Tạo một yêu cầu AJAX
  var xhr = new XMLHttpRequest();
  
  // Thiết lập phương thức và URL của yêu cầu
  xhr.open("GET", "/user/get_info", true);
  
  // Xác định hàm xử lý khi nhận được phản hồi từ máy chủ
  xhr.onload = function () {
    if (xhr.status >= 200 && xhr.status < 300) {
      // Nếu yêu cầu thành công, lấy dữ liệu JSON từ phản hồi
      var responseData = JSON.parse(xhr.responseText);
      
      // Hiển thị username trong phần tử HTML có id là "username"
      document.getElementById("funds").innerText = responseData.balance;
    } else {
      // Xử lý lỗi nếu có
      console.error('Request failed with status:', xhr.status);
    }
  };
  
  // Xử lý lỗi kết nối
  xhr.onerror = function () {
    console.error('Request failed');
  };
  
  // Gửi yêu cầu
  xhr.send();
});


document.addEventListener("DOMContentLoaded", function() {
    var backButton = document.getElementById("back");

    // Thêm sự kiện click cho nút trở về
    backButton.addEventListener("click", function() {
        window.location.href = "/"; // Điều hướng về trang chủ
    });
});
</script>